<% provide(:title, "My businesses") %>

<div class=" h-[calc(100vh-4.1rem)] wrapper bg-[#d9d9d9]">
    <div class="p-4">

        <div class="flex gap-2 items-center justify-between">
            
            <h1 class="font-bold text-2xl py-5">My businesses</h1>

            <%= link_to new_business_path, class: "inline-flex items-center px-3 py-2 text-sm font-medium text-center text-white bg-gray-900 rounded-lg hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-300 dark:bg-gray-600 dark:hover:bg-gray-700 dark:focus:ring-gray-800 gap-1", data: {action: "click->dialog#open", turbo_frame: :modal} do %>
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-4 h-4">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>

                Add new business
            <% end %>
        </div>
        
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5">
            <%= render @businesses %>
        </div>
    </div>
</div>
