<h1 class="font-bold text-2xl mb-4">Settings</h1>

<ul>
    <li class="">
    <%= link_to settings_path, class: "inline-flex justify-between items-center w-full bg-gray-200 p-2 border-r-4 border-gray-900" do %>
        Your account
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
    <% end %>
    </li>

    <li class="">
    <%= link_to '#', class: "inline-flex justify-between items-center w-full hover:bg-gray-200 p-2" do %>
        Security and account access
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
    <% end %>
    </li>

    <li class="">
    <%= link_to '#', class: "inline-flex justify-between items-center w-full hover:bg-gray-200 p-2" do %>
        Accessibility, display and languages
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
    <% end %>
    </li>

    <li class="">
    <%= link_to '#', class: "inline-flex justify-between items-center w-full hover:bg-gray-200 p-2" do %>
        Help Center
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
        <path stroke-linecap="round" stroke-linejoin="round" d="m8.25 4.5 7.5 7.5-7.5 7.5" />
        </svg>
    <% end %>
    </li>
</ul>