@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Mona+Sans:wght@600&family=Open+Sans:ital@0;1&display=swap');

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/

body {
  font-family: "Open Sans", serif;
  font-weight: 400;
}

h1,h2,h3,h4,h5,h6,.logo-text,.nav-ul,.nav-btn {
  font-family: "Mona Sans", serif;
  font-weight: 600;
}

p {
  font-family: "Open Sans", serif;
  font-weight: 400;
}

/* scrollbar styling */
::-webkit-scrollbar-track {
  /* Pure function to calculate shadow with no side effects */
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F5F5F5;
  /* Add padding to avoid overlap with rounded corners */
  padding-right: 2px; /* Adjust as needed */
}

::-webkit-scrollbar-thumb {
  /* Keep the thumb styling immutable */
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #323738;
  /* background-color: rgb(30 66 159); */
}

.pagy {
  @apply flex space-x-1 font-semibold text-sm text-gray-500;
  a:not(.gap) {
    @apply block rounded-lg px-3 py-1 bg-gray-200;
    &:hover {
      @apply bg-gray-300;
    }
    &:not([href]) { /* disabled links */
      @apply text-gray-300 bg-gray-100 cursor-default;
    }
    &.current {
      @apply text-white bg-gray-400;
    }
  }
  label {
    @apply inline-block whitespace-nowrap bg-blue-200 rounded-lg px-3 py-0.5;
    input {
      @apply bg-gray-100 border-none rounded-md;
    }
  }
}

/* combobox */

.hw-combobox, .hw-combobox__main__wrapper {
  width: 100% !important; 
  border: none !important;
}

.hw-combobox__main__wrapper {
  padding: 0 !important;
  font-size: .875rem !important; 
}

.hw-combobox__main__wrapper {
  &:focus-within {
    box-shadow: none !important;
  }
}

.hw-combobox__option {
  cursor: pointer !important;
}

.hw-combobox__input {
  all: unset !important;
}

.hw-combobox__dialog__input {
  border: 1px solid #d1d5db !important; 
  border-radius: .375rem !important;
  &:focus-within {
    border-color: rgb(107 114 128) !important; /* focus:border-gray-500 */
    --tw-ring-color: rgb(107 114 128) !important; /* focus:ring-gray-500 */
  }
}


