<div class="flex-grow flex flex-col items-center justify-center relative mx-5">
  <div class="mb-8 text-center w-1/3">
    <h1 class="text-4xl text-black mb-4">Welcome back</h1>
    <p>Enter your email address and password to access your account</p>
  </div>

  <div class="wrapper w-full mx-5 md:w-1/3 md:mx-0 bg-white p-8 rounded-lg shadow-lg">
    <div class="flex-1 space-y-4">
      <%#== rodauth.login_form_header %>
      <%= render "login_form" %>
      <%#== rodauth.login_form_footer %>
    </div>
  </div>
</div>
